@use "../../../styles/1-settings/colors" as colors;
@use "../../../styles/1-settings/spacing" as spacing;
@use "../../../styles/1-settings/sizing" as sizing;
@use "../../../styles/1-settings/typography" as typography;

.c-app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: spacing.$spacing-xl spacing.$spacing-3xl;
  box-sizing: border-box;
  z-index: 100;
  background-color: colors.$color-white;

  &__brand {
    display: flex;
    align-items: center;
    gap: spacing.$spacing-lg;
  }

  &__logo {
    width: sizing.$size-medium;
    height: sizing.$size-medium;
  }

  &__title {
    margin: 0;
    font-size: typography.$font-size-xx-large;
    line-height: typography.$line-height-tight;
  }
}

@container page (max-width: 767px) {
  .c-app-header {
    padding: spacing.$spacing-lg spacing.$spacing-xl;

    &__brand {
      gap: spacing.$spacing-sm;
    }

    &__logo {
      width: sizing.$size-small;
      height: sizing.$size-small;
    }

    &__title {
      font-size: typography.$font-size-large;
    }
  }
}

@container page (min-width: 768px) and (max-width: 1023px) {
  .c-app-header {
    padding: spacing.$spacing-md spacing.$spacing-2xl;

    &__title {
      font-size: typography.$font-size-x-large;
    }
  }
}
