@use "../../../styles/1-settings/colors" as colors;
@use "../../../styles/1-settings/spacing" as spacing;
@use "../../../styles/1-settings/typography" as typography;

.c-button {
  border: 1px solid colors.$color-border;
  background: colors.$color-white;
  padding: spacing.$spacing-2xs spacing.$spacing-lg;
  border-radius: 6px;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--primary {
    background: colors.$color-gray-100;
    font-weight: typography.$font-weight-semibold;
  }
}
