@use "../../../styles/breakpoints" as *;

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

@container page (max-width: 767px) {
  .pagination {
    gap: 0.4rem;
  }
}
