@use "../styles/1-settings/spacing" as spacing;
@use "../styles/1-settings/sizing" as sizing;

.c-table-section {
  display: flex;
  flex-direction: column;
  gap: spacing.$spacing-xl;
  align-items: center;
  width: 100%;
  max-width: sizing.$max-width-container;

  &__loading-indicator {
    font-size: 0.9rem;
    color: #666;
    padding: spacing.$spacing-sm;
    text-align: center;
  }
}

@container page (max-width: 767px) {
  .c-table-section {
    gap: spacing.$spacing-lg;
  }
}

@container page (min-width: 1024px) {
  .c-table-section {
    max-width: sizing.$max-width-tablet;
  }
}
