@use "../styles/breakpoints" as *;

.table-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

@container page (max-width: 767px) {
  .table-section {
    gap: 0.75rem;
  }
}

@container page (min-width: 1024px) {
  .table-section {
    max-width: 1100px;
  }
}
