@use "../../styles/1-settings/spacing" as spacing;
@use "../../styles/1-settings/sizing" as sizing;

.c-customer-page {
  min-height: sizing.$min-height-viewport;
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  container-name: page;

  &__main {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem spacing.$spacing-xl spacing.$spacing-xl;
    box-sizing: border-box;
  }
}

@container page (max-width: 767px) {
  .c-customer-page__main {
    padding: 4rem spacing.$spacing-lg spacing.$spacing-lg;
  }
}

@container page (min-width: 768px) and (max-width: 1023px) {
  .c-customer-page__main {
    padding: 4.5rem spacing.$spacing-xl spacing.$spacing-xl;
  }
}

@container page (min-width: 1024px) {
  .c-customer-page__main {
    padding: 5rem spacing.$spacing-3xl spacing.$spacing-2xl;
  }
}
