@use "../../../styles/1-settings/colors" as colors;
@use "../../../styles/1-settings/spacing" as spacing;
@use "../../../styles/1-settings/typography" as typography;

.c-app-footer {
  text-align: center;
  padding: spacing.$spacing-xl;
  font-size: typography.$font-size-small;
  background-color: colors.$color-white;
  position: relative;
  z-index: 10;
}

@container page (max-width: 767px) {
  .c-app-footer {
    padding: spacing.$spacing-lg;
    font-size: 0.8rem;
  }
}
